@model List<ProvideService>
@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
}
@{
    ViewBag.Title = "Crew Manager";
}

<h1>@ViewBag.Title</h1>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-item nav-link @(controller == "ProvideService" && action == "ProvideServiceList" ? "active" : "")"
           asp-controller="ProvideService" asp-action="List">All Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link @(controller == "ProvideService" && action == "GetCustomer" ? "active" : "")"
           asp-controller="ProvideService" asp-action="GetCustomer">By Customer</a>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link @(controller == "ProvideService" && action == "openList" ? "active" : "")"
           asp-controller="ProvideService" asp-action="GetProperty">By Property</a>
    </li>
    <li class="nav-item">
        <a class="nav-item nav-link @(controller == "ProvideService" && action == "openList" ? "active" : "")"
           asp-controller="ProvideService" asp-action="GetCrew">By Crew</a>
    </li>
</ul>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Service ID</th>
            <th>Customer</th>
            <th>Property</th>
            <th>Service Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
        <tr>
            <td>@service.ServiceID</td>
            <td>@service.Customer.Name</td>
            <td>@service.PropertyID</td>
            <td>@service.ServiceDate</td>
            
            <td>
                <a asp-action="Edit"
                   asp-route-id="@service.ServiceID"
                   class="btn btn-primary">Edit</a>
            </td>
            <td>
                <a asp-action="ProvideServiceDelete"
                   asp-route-id="@service.ServiceID"
                   class="btn btn-primary">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

<a asp-action="Add" class="btn btn-primary mb-3">Add Service</a>
